
.sockheader {
  color: aqua;
}
.allCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.productDescription {
  color: green;
}
.product-specs {
  border: solid 5px;
}
.sock-pricing {
  
}
