
.sockheader {
  text-align: center;
  color: aqua;
  border: solid 1px lightblue
}
.allCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.productDescription {
  font-weight: bold
  
}
.product-specs {
  border: solid 5px;
}
.sock-pricing {
  font-weight: bold;
}
.specs-header {
  font-weight: bold;
}
.productAvailability {
  color: yellow;

}
.card-body {
  background-color: gray;
}
